aside.sidebar
	min-width: 22%
	+respond-to($laptop)
		min-width: 85%
		margin: 0 auto

	.widget-item
		padding: 5px 5px 35px 5px

	h4
		text-align: center
		font-family: $font-serif
		text-transform: uppercase
		margin: 0 0 8px 0
		font-size: 1.1em

	li
		padding: 7px 5px
		border-bottom: 1px solid $brand-secondary-color

	a
		font-size: .9em
		font-weight: normal

	ul.blogs-wrapper

		li.blog
			text-align: left
			display: flex
			border: none
			margin-bottom: 10px
			justify-content: flex-start
			+respond-to($phone)
				flex-wrap: nowrap;

		.blog-body
			padding-left: 15px
			box-sizing: border-box
			+respond-to($phone)
				max-width: calc(100% - 50px)

		.blog-date
			font-size: .7em

		.blog-body h5.blog-title
			margin-top: 3px
			font-family: $font-stack
			font-size: 1.2em
			color: #222

			&:hover
				text-decoration: underline

.blog-date
   color: #a3aa9b

div.search
   margin-bottom: 26px
   text-align: center

   label
      position: absolute
      left: -9999px

   #s
      vertical-align: top
      padding: 3px 0

   #searchsubmit
      text-transform: uppercase
      font-size: 0.8em
      vertical-align: top
      background-color: $brand-color
      color: #fff
      padding: 5px 14px
      border: none