@font-face
	font-family: 'Whoa'
	src: url('src/fonts/Whoa_.eot'), url('src/fonts/Whoa_.woff') format('woff'), url('src/fonts/Whoa_.ttf') format('truetype')
	font-weight: normal
	font-style: normal

@font-face
	font-family: 'Stylin'
	src: url('src/fonts/Stylin__BRK.eot'), url('src/fonts/Stylin__BRK.woff') format('woff'), url('src/fonts/Stylin__BRK.ttf') format('truetype')
	font-weight: normal
	font-style: normal